@import url("https://fonts.googleapis.com/css?family=Montserrat");


html,
body {

  margin: 0;
  padding: 0;
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00465c;
    overflow-x: hidden;
    text-align: center;
  }
  img#hero{
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    padding: 0%;
  }

  
  .sidenav a {
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 16px;
    text-decoration: none;
    display: block;
  }

  a:hover {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  .sidenav figure:hover {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  .sidenav p {
    padding: 1px;
    display: block;
  }

  p#counter{
    color: #ffffff;
    margin: 21px 21px 21px 21px;
  }

div#box{
   
        background-color: #ffffff;
        height: 1600px;
        padding: 20px;
        margin: 2px 0px 0px 200px;
        line-height: 1;
        border-style:none;
        
}

div#about-me{
   
    background-color: #ffffff;
    height: 300px;
    padding: 20px;
    margin: 2px 0px 0px 50px;
    line-height: 1;
    border-style: solid;
    border-width: .5px 2px 2px 2px;
    border-color:  #00465c;
    box-shadow: 0px 1px 1px 0px lightgray;
    
}


div#experience{
   
    background-color: #ffffff;
    height: 690 px;
    padding: 20px;
    margin: 50px 0px 0px 50px;
    line-height: 1;
    border-style: solid;
    border-width: .5px 2px 2px 2px;
    border-color:  #00465c;
    box-shadow: 0px 1px 1px 0px lightgray;
    
}

div#projects{
   
    background-color: #ffffff;
    height: 600px;
    padding: 20px;
    margin: 50px 0px 0px 50px;
    line-height: 1;
    border-style: solid;
    border-width: .5px 2px 2px 2px;
    border-color:  #00465c;
    box-shadow: 0px 1px 1px 0px lightgray;
    
}

div#education{
   
    background-color: #ffffff;
    height: 200px;
    padding: 20px;
    margin: 50px 0px 0px 50px;
    line-height: 1;
    border-style: solid;
    border-width: .5px 2px 2px 2px;
    border-color:  #00465c;
    box-shadow: 0px 1px 1px 0px lightgray;
    
}

div#skills{
   
    background-color: #ffffff;
    height: 300px;
    padding: 20px;
    margin: 50px 0px 0px 50px;
    line-height: 1;
    border-style: solid;
    border-width: .5px 2px 2px 2px;
    border-color:  #00465c;
    box-shadow: 0px 1px 1px 0px lightgray;
    
}

div#certs{
   
    background-color: #ffffff;
    height: 200px;
    padding: 20px;
    margin: 50px 0px 0px 50px;
    line-height: 1;
    border-style: solid;
    border-width: .5px 2px 2px 2px;
    border-color:  #00465c;
    box-shadow: 0px 1px 1px 0px lightgray;
    
}

* {
    box-sizing: border-box;
  }

/*.left
{
	background-color:#110f0f67;
	border-right:1px solid rgba(12, 156, 120, 0.05);
    margin-top: 200px;
	height: 800px;
	position:relative;
	width: 200px;
    float:left;
	margin-left:-1px;
  
}
*/
.right
{
min-width: 50px; 
width: 1200px;
 height: 800px;
 margin: 10px;
 border: 1px solid rgb(255, 255, 255);
 padding: 1px;
 position: relative;
 margin-top: 10px;
 font-size: 18px;
  
}

.top
{
	background-color:#ffffffda;
    height: 200px;
	min-height:10%;
	position:relative;
    min-width: 201px;;
	width: 100%;
    margin-left:-1px;
    border-bottom:1px solid rgba(0,0,0,.05);
  
}
.github{
    position: relative;
        display: block;
        right: 250px;
        top: 27px;
        width: 45px;
    
        

}

.linkedin{
    position: relative;
        display: block;
        right: 230px;
        top: 110px;
    
        

}

.title {
    color:rgba(0, 0, 0, 0.75);
    text-align: left;
    position: relative;
    font-size: 20px;
}

.contact{
    text-align: right;
    margin-right: 2px;
}

.job-desc{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

ul{
    margin: 20px;
}